<div class="row pb-2 justify-content-end">
  <div class="col">
    <h2>Menu List
      {{#if (not model)}}
        <span class="badge badge-warning">No Menus Found !</span>
      {{/if}}
    </h2>
  </div>
  <div class="col-3">
    {{#power-select options=months selected=monthDestination placeholder="Filter by Month" onchange=(action "changeMonth") as |month|}}
      {{month}}
    {{/power-select}}
  </div>
  <div class="col-3">
    {{#power-select options=years selected=yearDestination placeholder="Filter by Year" onchange=(action "changeYear") as |year|}}
      {{year}}
    {{/power-select}}
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 25%">
            Week Of
          </th>
          <th scope="col" style="width: 25%">
            Month
          </th>
          <th scope="col" style="width: 25%">
            Year
          </th>
          <th scope="col" style="width: 25%">
            Cost
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |menu|}}
          <tr>
            <td>
              {{link-to menu.week_of "menus.view" menu.id class="d-block"}}
            </td>
            <td>
              {{menu.month}}
            </td>
            <td>
              {{menu.year}}
            </td>
            <td>
              {{menu.cost}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-4">
    <ul class="pagination ">
      {{paginate-move model=model moveText="<<" pageNum=model.meta.pagination.first.number moveLink='menus'}}
      {{paginate-move model=model moveText="<" pageNum=model.meta.pagination.prev.number moveLink='menus'}}

      {{#each count as |number|}}
        {{#if (eq number model.meta.pagination.self.number)}}
          <li class="page-item active">
            {{link-to number 'menus' (query-params page=number) class="page-link"}}
          </li>
        {{else}}
          <li class="page-item">
            {{link-to number 'menus' (query-params page=number) class="page-link"}}
          </li>
        {{/if}}
      {{/each}}

      {{paginate-move model=model moveText=">" pageNum=model.meta.pagination.next.number moveLink='menus'}}
      {{paginate-move model=model moveText=">>" pageNum=model.meta.pagination.last.number moveLink='menus'}}

    </ul>
  </div>
</div>
