<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <strong>Recipe</strong>
      </div>
      <ul class="list-group list-group-flush">
        {{#each model.recipes as |recipe index|}}
          <li class="list-group-item">
            <div class="row">
              <div class="col-11">
                {{pluralize recipe.quantity (humanize recipe.measure)}} of {{capitalize recipe.ingredient.name}}
              </div>
              <div class="col-1">
                <button type="button" class="close" {{action "removeRecipe" recipe.id index}} aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlSelect2">Ingredient Name</label>
              {{#power-select-typeahead
                  search=(action 'searchAsync')
                  options=filteredIngredients
                  selected=selectedIngredient.name
                  onchange=(action "selectIngredient")
                  oninput=(action "preventSearchesBelowThreeChars")
                   as |ingredient|
              }}
                {{ingredient.name}}
              {{/power-select-typeahead}}
              <small class="form-text text-muted">Type in the ingredient, if it doesn't exist, click create !</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlSelect2">Quantity</label>
              {{input class="form-control" value=quantity type="number" min="1"}}
              <small class="form-text text-muted">Type in a number here</small>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlSelect2">Unit</label>
              {{#power-select options=measurements selected=measure placeholder="Select Measure" onchange=(action (mut measure)) as |measurement|}}
                {{humanize measurement}}
              {{/power-select}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-primary text-center float-right" {{action "createRecipe"}}>Add Ingredient</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{new-meal/new-ingredient-modal ingredient_name=ingredient_name newIngredientOpen=newIngredientOpen createIngredient="createIngredient"}}
