<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <strong>Recipe</strong>
        {{#if isEditing}}
          <small class="form-text text-muted">Click on an ingredient to edit it<br /> Click on the x to remove this ingredient <br />
            Hover over italisized ingredients to see the note attatched to it
          </small>
        {{/if}}
      </div>
      <ul class="list-group list-group-flush">
        {{#each model.recipes as |recipe index|}}
          <li class="list-group-item">
            <div class="row">
              <div class="col-11 col-sm-10">
                {{#if isEditing}}
                  <a href="#" {{action "editIngredientModal" recipe.ingredient index}} class={{if recipe.notes "font-italic"}}>
                    {{pluralize recipe.quantity (humanize recipe.measure)}} of {{capitalize recipe.ingredient.name}}
                    {{#if recipe.notes}}
                      {{bs-tooltip title=recipe.notes}}
                    {{/if}}
                  </a>
                {{else}}
                  {{pluralize recipe.quantity (humanize recipe.measure)}} of {{capitalize recipe.ingredient.name}}
                {{/if}}
              </div>
              <div class="col-1 col-sm-2">
                <button type="button" class="close" {{action "removeRecipe" recipe.id}} aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Ingredient Name</label>
              {{#power-select-typeahead
                  search=(action 'searchAsync')
                  options=filteredIngredients
                  selected=selectedIngredient.name
                  onchange=(action "selectIngredient")
                  oninput=(action "preventSearchesBelowThreeChars")
                   as |ingredient|
              }}
                {{ingredient.name}}
              {{/power-select-typeahead}}
              <small class="form-text text-muted">Type in the ingredient, if it doesn't exist, click create !</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlSelect2">Quantity</label>
              {{input class="form-control" value=quantity type="number" min="1"}}
              <small class="form-text text-muted">Type in a number here</small>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="exampleFormControlSelect2">Measure</label>
              {{#power-select options=measurements selected=measure placeholder="Select Measure" onchange=(action (mut measure)) as |measurement|}}
                {{humanize measurement}}
              {{/power-select}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Notes</label>
              {{textarea class="form-control" value=notes rows="2" disabled=isMealSaved}}
              <small class="form-text text-muted">Anything the shopper should know !</small>
            </div>
          </div>
        </div>
        <div class="row">
          {{#unless isEditing}}
            <div class="col">
              <button class="btn btn-outline-secondary text-center" {{action "anotherMeal"}}>Add Another Meal</button>
            </div>
          {{/unless}}
          <div class="col">
            <button class="btn btn-outline-success text-center float-right" {{action "createRecipe"}}>Add To Recipe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{new-meal/new-ingredient-modal ingredient_name=ingredient_name ingredientModel=ingredientModel updateIngredient="updateIngredient"
  newIngredientOpen=newIngredientOpen createIngredient="createIngredient" deleteIngredient="deleteIngredient"}}
