<div class="row pb-3 justify-content-between">
  <div class="col">
    {{#unless isMealSaved}}
      <h2 class="text-primary">Ingredients for <i>{{model.name}}</i></h2>
    {{else}}
      <h2 class="text-primary">Editing ingredients for <i>{{model.name}}</i></h2>
    {{/unless}}
  </div>
  <div class="col-2">
    <button class="btn btn-block btn-lg d-print-none btn-outline-danger {{if isEditing 'disabled'}}" {{action "deleteMeal"}} disabled={{if isEditing 'true'}}>
      Delete
    </button>
  </div>
  <div class="col-2">
    <button class="btn btn-block btn-lg d-print-none {{if isEditing 'btn-outline-primary' 'btn-outline-success'}}" {{action (toggle "isEditing" this)}}>
      {{if isEditing "View Mode" "Edit Mode"}}
    </button>
  </div>
  <div class="col-2">
    <button class="btn btn-block btn-lg d-print-none btn-outline-primary {{unless isEditing 'disabled'}}" {{action (toggle "isMealSaved" this)}} disabled={{unless isEditing 'true'}}>
      {{if isMealSaved "Edit Meal" "Edit Ingredients"}}
    </button>
  </div>
</div>

{{#unless isDeleting}}
  {{#if isEditing}}
    {{#if isMealSaved}}
      {{new-meal/add-recipe model=model isEditing=isEditing}}
    {{else}}
      {{#new-meal/add-meal categories=categories addMeal="addMeal" model=model isMealSaved=isMealSaved}}
        Update and start Editing Recipes !
      {{/new-meal/add-meal }}
    {{/if}}
  {{else}}
    {{meals-view/view model=model}}
  {{/if}}
{{else}}
  {{spinning-loader}}
{{/unless}}
