<div class="row">
  <div class="col">
    <h2>Shopping List for the
      {{#link-to "weeks.view" model.id}}
        Week of {{model.week_of}}/{{model.month}}
      {{/link-to}}
    </h2>
  </div>
</div>
<hr />
{{#if shoppingList}}
  <div class="row pt-4">
    {{#each-in shoppingList as |location category|}}
      <div class="col">
        <h4 class="text-center">{{humanize location}}</h4>
        {{#each-in category as |name item|}}
          {{#unless (eq (compute (action "isEmpty") item) true)}}
            <div class="row pt-3">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <strong>{{humanize name}}</strong>
                  </div>
                  <ul class="list-group list-group-flush">
                    {{#each-in item as |itemName data|}}
                      <li class="list-group-item">{{capitalize itemName}}
                        <!-- If only one kind of measure -->
                        {{#if (eq data.length 1)}}
                          - {{pluralize data.0.quantity (humanize data.0.measure)}}
                          <div class="row">
                            <div class="col">
                              <small>{{data.0.notes}}</small>
                            </div>
                          </div>
                        {{else}}
                          <ul>
                            {{#each data as |specificMeasure|}}
                              <li>
                                {{pluralize specificMeasure.quantity (humanize specificMeasure.measure)}}
                                <div class="row">
                                  <div class="col">
                                    <small>{{specificMeasure.notes}}</small>
                                  </div>
                                </div>
                              </li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </li>
                    {{/each-in}}
                  </ul>
                </div>
              </div>
            </div>
          {{/unless}}
        {{/each-in}}
      </div>
    {{/each-in}}
  </div>
{{else}}
  <div class="row justify-content-center">
    <div class="col-1">
      {{loader-ball-grid-pulse}}
    </div>
  </div>
{{/if}}
