<div class="row pb-2 justify-content-between ">
  <div class="col">
    <h2>Menu for the Week of {{title}}</h2>
    <h6 class="d-print-none">Total Cost - ${{weekModel.cost}}</h6>
  </div>
  <div class="col-2">
    <button class="btn btn-block btn-lg d-print-none {{if isEditing 'btn-outline-primary' 'btn-outline-success'}}" {{action (toggle "isEditing" this)}}>
      {{#if isEditing}}
        {{fa-icon "list"}} View
      {{else}}
        {{fa-icon "pencil"}} Edit
      {{/if}}
    </button>
  </div>
  <div class="col-3 d-print-none">
    {{#bs-dropdown as |dd|}}
      {{#dd.button block=true size="lg" type="outline-primary"}}Shopping Actions <span class="caret"></span>{{/dd.button}}
      {{#dd.menu as |ddm|}}
        {{#ddm.item}}{{#ddm.link-to "weeks.list" weekModel.id}}{{fa-icon "cart-arrow-down"}} Generate Shopping List{{/ddm.link-to}}{{/ddm.item}}
        {{#ddm.item}}{{#ddm.link-to "weeks.receipts" weekModel.id}}{{fa-icon "credit-card"}} Receipts{{/ddm.link-to}}{{/ddm.item}}
      {{/dd.menu}}
    {{/bs-dropdown}}

  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 20%" class="text-center">
            Monday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Tuesday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Wednesday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Thursday
          </th>
          <th scope="col" style="width: 20%" class="text-center">
            Friday
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each meal_times as |meal_time|}}
          <tr>
            {{#each daysOfWeek as |day|}}
              <td>
                {{menu-day entries=model day=day meal_time=meal_time isEditing=isEditing
                  mealArray=meals weekModel=weekModel}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
